<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote It</title>
</head>

<body>
    <div  class="container">
        <h2 class="text-center mt-3">Quote It</h2>
        <p class="text-center">Welcome to Quote It, where you can either create your own Quote or View the best voted Quote.</p>
        <hr>
        <app-make-quotes (addQuote)="newQuote($event)"></app-make-quotes>
        <button type="button" class="btn btn-default" (click)="bestmQuote()">
            View Best Voted Quote
        </button>
        <div class="alert alert-danger">
            <p>Like to View the most popular Quote!</p>
        </div>
        <div class="row pt-5" *ngFor="let Quotes of Quotes;let mIndex =index" height=18px>
            <div class="col-sm">
                <div class="card testimonial-card">
                    <div class="card-body">
                        <h4 class="card-title text-secondary text-uppercase">{{Quotes.author}}</h4>
                        <hr>
                        <p><i class="fas fa-quote-left pr-1"></i>{{Quotes.quote}}<i class="fas fa-quote-right pl-1"></i>
                        </p>
                        <span class="row">Written By: <h5 class="deep-orange-text pl-3">{{Quotes.user}}
                            </h5>
                            <h5 class="pl-5">{{Quotes.date |dateCount}} days ago</h5>
                        </span>
                        <div class="row ">
                            <i class="far fa-thumbs-up h1 pr-4" (click)='upVote(Quotes)'></i>{{Quotes.upvotes}}
                            <i class="far fa-thumbs-down h1" (click)='downVote(Quotes)'></i>{{Quotes.downvotes}}
                            <span class="delete" (click)= 'quoteDelete($event,mIndex)' aria-hidden="true"><i
                                    class="fa fa-trash"></i></span>
                        </div>
                        <span class="pr-5">{{Quotes.upvotes}}</span>
                        <span class="pr-5">{{Quotes.downvotes}}</span>

                    </div>
                </div>
            </div>
        </div>
      

    </div>

</body>

</html>
